<h2>Add new post</h2>
<p>
	<form action="/new" method="POST">
		  <textarea name="" rows="6" class="form-control" placeholder="type post text here"></textarea>

		  <br>
		  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>